.container {
    width: 100%;
    margin-top: 20px;
}

.service-container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    margin-top: 30px;
    gap: 80px;
}

.card-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.sidebar {
    box-shadow: 2px 2px 2px 3px lightgray;
    border-radius: 8px;
    height: 600px;
}

.fontawesome-container {
    display: flex;
}

.fontawesome {
    color: blueviolet;
    font-size: 26px;
}

.container h1 {
    color: blueviolet;
    font-size: 26px;
    font-weight: 600;
    margin-left: 8px;
}

@media only screen and (max-width: 600px) {
    .card-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-container {
        grid-template-columns: 1fr;
    }
}