.container {
    width: 100%;
    margin-top: 20px;
}

.service-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 30px;
    gap: 20px;
}

.card-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.sidebar {
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 10px;

}

.fontawesome-container {
    display: flex;
}

.fontawesome {
    color: blueviolet;
    font-size: 26px;
}

.container h1 {
    color: blueviolet;
    font-size: 26px;
    font-weight: 600;
    margin-left: 8px;
}