.service {
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 8px;
    padding: 15px;
}

.service img {
    height: 35%;
    width: 98%;
    border-radius: 6px;
}

.service-information {
    margin-top: 10px;
    padding-left: 5px;
}

.service-name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 3px;
}

.service-information div {
    font-weight: 400;
}

.btn-list {
    width: 98%;
    border: none;
    border-radius: 8px 8px 8px 8px;
    background-color: blueviolet;
    color: white;
    padding: 8px 0;
    margin-bottom: 0;
}