.container {
    padding: 3px 20px;
}

.profile-information {
    display: flex;
    margin-bottom: 20px;
}

.profile-information div {
    line-height: 8px;
}

.profileImg {
    width: 40px;
    height: 42px;
    margin-right: 15px;
}

.address {
    font-size: 13px;
    color: gray;
}

.about {
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 8px;
    justify-content: center;
    column-gap: 40px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-bottom: 20px;
    background-color: rgb(240, 222, 240);
}

.about h5 small {
    font-size: 13px;
    color: gray;
}

.about div {
    line-height: 5px;
}

.seconds {
    display: flex;
    column-gap: 16px;
    border-radius: 8px;
    margin-top: 22px;
    justify-content: center;
    padding: 14px;
    background-color: rgb(240, 222, 240);
}

#second {
    background-color: blueviolet;
    color: white;
}

.seconds button {
    border: 1px solid black;
    border-radius: 60px;
    font-size: 80%;
    font-weight: 500;
    padding: 6px;
    background-color: white;
}

.exercise {
    margin-top: 40px;
}

.exercise-time {
    display: flex;
    column-gap: 50px;
    border-radius: 8px;
    padding: 12px 0px 0px 12px;
    margin-bottom: 10px;
    background-color: rgb(240, 222, 240);
}

.break-time {
    display: flex;
    column-gap: 70px;
    border-radius: 8px;
    padding: 12px 0px 0px 12px;
    background-color: rgb(240, 222, 240);
}

.container .btn-completed {
    background-color: blueviolet;
    color: white;
    margin-top: 50px;
    padding: 12px 65px;
    border: none;
    border-radius: 8px;

}