.container {
    padding: 5px 14px;
}

.about {
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 8px;
    justify-content: center;
    column-gap: 40px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-bottom: 18px;
}

.about h5 small {
    font-size: 13px;
    color: gray;
}

.about div {
    line-height: 5px;
}

.seconds {
    display: flex;
    column-gap: 16px;
    font-weight: 500;
    border: 2px solid gray;
    border-radius: 8px;
    margin-top: 20px;
    justify-content: center;
    padding-top: 14px;
}

#second {
    background-color: blueviolet;
    color: white;
}

.seconds p {
    border: 1px solid black;
    border-radius: 60px;
    font-size: 80%;
    padding: 6px;
}

.exercise {
    margin-top: 40px;
}

.exercise-time {
    display: flex;
    column-gap: 50px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px;
    margin-bottom: 10px;
}

.break-time {
    display: flex;
    column-gap: 65px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px;
}

.container .btn {
    background-color: blueviolet;
    color: white;
    margin-top: 50px;
    padding: 12px 65px;
    border: none;
    border-radius: 8px;

}